.DS_Store
Thumbs.db
*.log
tmp/

.idea/
.vscode/
*.iml
*.swp

pc-receiver/target/

mobile-sender/.gradle/
mobile-sender/build/
mobile-sender/*/build/
mobile-sender/local.properties
mobile-sender/captures/
mobile-sender/.externalNativeBuild/
mobile-sender/.cxx/
mobile-sender/*.apk
mobile-sender/output.json
mobile-sender/signing.properties
